/* UNIVERSAL STYLES */
/* root */
#root {
  /* layout */
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  /* colors */
  background-color: white;
  color: black;
}

/* body */
body {
    /* layout */
    margin: 10px;
    padding: 10px;
    /* font */
    font-family: 'Roboto', sans-serif;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    /* layout */
    padding: 10px;
    margin: 10px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}