/* UNIVERSAL STYLES */
/* root */
#root {
  /* layout */
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  /* colors */
  background-color: white;
  color: black;
}

/* body */
body {
    /* layout */
    margin: 10px;
    padding: 10px;
    /* font */
    font-family: 'Roboto', sans-serif;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    /* layout */
    padding: 10px;
    margin: 10px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}

/* buttons */
button {
    /* layout */
    padding: 10px 30px;
    margin: 10px;
    /* colors */
    background-color: #3882F6;
    color: white;
    /* font */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* border */
    border: none;
    border-radius: 5px;
}

/* HEADER */
/* universal styles */
.header {
    /* layout */
    width: 100%;
    padding: 10px;
    margin: 10px;
    /* colors */
    background-color: #1F2937;
    color: #F9FAF8;
    /* flexbox */
    display: flex;
    flex-direction: column;
}
/* header h1 */
.header h1 {
    /* font */
    font-weight: 900;
}
/* header top */
.header-top {
    /* layout */
    padding: 10px;
    margin: 10px;
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* header top logo */
.header-top-logo {
    /* colors */
    color: #F9FAF8;
    /* font */
    font-size: 24px;
}
/* header top links */
.header-top-links {
    /* layout */
    padding: 10px;
    margin: 10px;
    /* flexbox */
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header-top-links a {
    /* colors */
    color: #E5E7EB;
    text-decoration: none;
    /* font */
    font-size: 18px;
}
/* header body */
.header-body {
    /* layout */
    padding: 10px;
    margin: 10px;
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-body h4 {
    /* font */
    font-size: 18px;
    font-weight: normal;
}

/* RANDOM INFO */
/* universal styles */
.random-info {
    /* layout */
    padding: 10px;
    margin: 10px;
    /* colors */
    background-color: white;
    color: #1F2937;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* random info header */
.random-info-header h2{
    /* font */
    font-weight: 900;
}
/* random info content */
.random-info-content {
    /* layout */
    padding: 10px;
    margin: 10px auto;
    max-width: none;
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
/* info card */
.info-card {
    /* layout */
    padding: 10px;
    margin: 0;
    text-align: center;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 220px;
}
/* info card image */
.info-card img {
    /* layout */
    width: 150px;
    height: 150px;
    /* border */
    border: 2px solid #3882F6;
    border-radius: 10px;
}

/* QUOTE */
/* universal styles */
.quote {
    /* layout */
    width: 100%;
    padding: 10px;
    margin: 10px;
    /* colors */
    background-color: #F3F4F6;
    color: #1F2937;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* quote text */
.quote-text {
    align-self: center;
    text-align: center;
}
.quote-text h2{
    /* layout */
    margin: 10px;
    padding: 10px;
    max-width: 800px;
    /* font */
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
/* quote speaker */
.quote-speaker {
    /* layout */
    align-self: flex-end;
    text-align: right;
    width: 100%;
    max-width: 800px;
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* CALL TO ACTION */
/* universal styles */
.call-to-action {
    /* layout */
    padding: 10px;
    margin: 10px;
    width: 1000px;
    /* colors */
    background-color: #3882F6;
    color: white;
    /* border */
    border: none;
    border-radius: 10px;
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* call text */
.call-text {
    /* layout */
    padding: 10px;
    margin: 10px;
    text-align: left;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.call-text h1,
.call-text h2,
.call-text h3,
.call-text h4,
.call-text p,
.call-text div {
    margin: 5px;
    padding: 5px;
    text-align: left;
}
/* button */
.call-signup button {
    /* border */
    border: 2px solid white;
    border-radius: 10px;
}

/* FOOTER */
/* footer */
.footer {
    /* layout */
    width: 100%;
    padding: 10px;
    margin: 10px;
    /* colors */
    background-color: #1F2937;
    color: #F9FAF8;
    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}